body{
    background-color:#dbdbdb;
}

.easy{
    color: green;
}

.normal{
    color: #a3a243;
}

.hard{
    color: red;
}

.game {
    display: flow-root;
    margin: auto;
    text-align: center;
}

.settings{
    display: flexbox;
    margin: auto;
    width: 500px;
    text-align: center;
}

button{
    width: 91px;
    height: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 0;
    background-color: #dbdbdb;
}

.cell {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    font-size: 30px;
}

p,h1{
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}